header{
    background-color: rgb(255, 168, 168);
}

header .container{ 
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: auto;
   font-family: 'Holtwood One SC', serif;
   width: 90%;
}

.imglogo{
    height: 18vh;   
    width: 18vh;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    line-height: 30px;
    list-style: none;
}

nav ul li{
    letter-spacing: 2px;
    margin-left: 30px;
}

nav ul li a{
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
}

.icones{
    margin-left: 130px;
}

.icones img{
    width: 3rem;
    height: 3rem;
    list-style: none;
    margin-left: 20px;
}

@media(max-width: 1062px){
    .icones{
        margin-left: 40px;
    }
    .icones img{
        margin-left: 4px;
    }
    nav{
        margin-left: -110px;
    }
    nav ul li{
        letter-spacing: 0;
        margin-left: 10px;
    }
}


@media (max-width: 800px){
    nav{
        display: none;
        text-align: center;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.9s;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
    }

    .menu-section.on{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(255, 168, 168);
        z-index: 10;
    }
    
    .menu-section.on nav{
        display: block;
        justify-content: center;
        font-size: 10rem;
        margin-left: 0;
        margin-right: 40px;
    } 

    .menu-section.on nav ul{
        flex-direction: column;
        line-height: 50px;
    }

    .menu-section.on nav ul li{
        margin-left: 0;
    }

    .menu-section.on nav ul li a{
        font-size: 2.6rem;
    }
    
    .menu-section.on .menu-toggle{
        position: absolute;
        right: 24px;
        top: 25px;
    }

    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }
    .menu-section.on .menu-toggle .three{
        transform:rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on .icones{
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 10px;
        margin-top: -80px;
    }

    .menu-section.on .icones img{
        margin-left: 10px;
    }
}

