html, body  {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
}

header{
     background-color: rgb(255, 168, 168);
}

header .container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 980px;
    width: 90%;
    flex-wrap: wrap;
}

.imglogo{
    height: 15vh;   
    width: 15vh;
    margin-right: vh;
}

button{
    font-size: 3vh;
    font-family: 'Holtwood One SC', serif;
    border: hidden;
    background-color: rgb(255, 168, 168);
    margin-right: 8vw;
}

section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    /*background: pink;*/
    margin-top: 10vh;
}

.yellow{
    width: 8vh;
    height: 50vh;
    background-color: #F9D189;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.imgdolls{
    width: 42vh;
    height: 60vh;
    margin-left: 10vh;
}

.text1{
    margin-left: 8vw;
    font-size: 3rem;
    line-height: 6rem;
    color: #FF6060;
    font-family: 'Holtwood One SC', serif;
}

.text2{
    
    font-size: 3rem;
    font-family: 'Holtwood One SC', serif;
    color: #FF6060;

}

@media (max-width: 760px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 823px){
    section{
        flex-direction: column;
        text-align: center;
    }
    .yellow{
        margin-right: 70vw;
        text-align: center;
        height: 55vh;
    }
    .text1{
        margin-left: 19vw;
        margin-top: -55vh ;
        text-align: center;
    }
    .imgdolls{
        margin-top: -6vh;
        height: 50vh;
        width: 35vw;
    }
}

@media (max-width: 705px){
    .imgdolls{
        width: 40vw;
    }
}