html, body  {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
}

header{
     background-color: rgb(255, 168, 168);
     border: solid 1px;
}

header .container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 2600px;
    width: 90%;
    flex-wrap: wrap;
}

.imglogo{
    height: 15vh;   
    width: 15vh;
    margin-right: vh;
}

button{
    font-size: 3vh;
    font-family: 'Holtwood One SC', serif;
    border: hidden;
    background-color: rgb(255, 168, 168);
}

.button button{
    padding: 2vw;
}

.button{
    margin-right: 40vw;
}

#fdp img{
    height: 5vh;
    margin-right: 2vw;
}

#fdp{
    margin-top: 1vh;
    margin-left: -35vw;
}


section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 90%;
    max-width: 2600px;
    /*background: pink;*/
    margin-top: 10vh;
}

.yellow{
    width: 8vh;
    height: 50vh;
    background-color: #F9D189;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.imgdolls{
    width: 42vh;
    height: 60vh;
    margin-left: 10vh;
}

.text1{
    margin-left: 8vw;
    font-size: 3rem;
    line-height: 6rem;
    color: #FF6060;
    font-family: 'Holtwood One SC', serif;
}

.text2{
    
    font-size: 3rem;
    font-family: 'Holtwood One SC', serif;
    color: #FF6060;

}

   
    
    @media (max-width: 760px){
        html{
            font-size: 50%;
        }
    }
 
    @media (max-width: 823px){
        section{
            flex-direction: column;
            text-align: center;
        }
        .yellow{
            margin-left: -88vw;
            text-align: center;
            height: 30vh;
            width: 3vw;
        }
        .text1{
            margin-left: 1vw;
            margin-top: -28vh ;
            text-align: center;
        }
        .imgdolls{
            margin-top: -6vh;
            height: 50vh;
            width: 25vw;
        }
    }

    @media (max-width: 730px){
        .yellow{
            margin-left: -88vw;
            text-align: center;
            height: 30vh;
        }
        .text1{
            margin-left: 4vw;
        }
        .imgdolls{
            width: 32vw;
        }

    }

    @media (max-width: 580px){
        .imgdolls{
            width: 35vw;
        }
    }

    @media (max-width: 540px){
        .imgdolls{
            width: 41vw;
        }
    }
    @media (max-width: 490px){
        .text1{
            margin-left: 8vw;
        }
    }

    @media (max-width: 450px){
        .imgdolls{
            width: 50vw;
        }
        .yellow{
            text-align: center;
            height: 35vh;
            width: 4vw;
        }
        .text1{
            margin-top: -38vh;
            margin-left: 8vw;
        }
    }