body{
    margin: 0px;
    padding: 0px;
    font-family: 'Holtwood One SC', serif;
    border: hidden;
    text-decoration: none; 
}
.slick-prev:before,
 .slick-next:before {
    color: black !important;
 }



.galeria {
    text-align: center;
    color: #FF6060;
}

.galeria h1{
    letter-spacing: 2px;
}
.carousel{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem;
 }
 
 .carousel div{
     display: flex;
 }
 
 .carousel div img{
     margin: auto;
     width: 50%;
     border-radius: 5px;
 } 
 

 

 .linha{
     display: flex;
     justify-content: space-around;
     margin-bottom: .5rem;

     width: 100%;
     
 }


 .linha img{
     width: 19%;
     border-radius: 10px;
 }

 .informacoes{
    font-size:1rem;
    margin-left: .5rem;

 }

 .informacoes h2{
    color: #FF6060;
 }
 .imageminformacoes{
     display: none;
 }

 @media screen and (min-width: 769px) {
     .informacoes{
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     .imageminformacoes{
         width:30%;
         display: unset;
         margin-right: 5rem;
         
         
     }

     .imageminformacoes img{
         
        width:100%;
        transform: scaleX(-1);
        
        


     }

 }


 