nav{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(255, 168, 168);
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items:center;
    list-style: none;
    padding: 0;
    width: 100%;
    

}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    font-size: 1.5rem;
    padding: 2px 0;
    width: 100%;
    text-decoration: none;
    color: #000000;
}



@media screen and (min-width: 769px) {


    nav{
        flex-direction: row;
        justify-content: space-around;
        color: #CB2E2E;
    }

    nav ul{
        flex-direction: row;
        width: 70%;
    }
}