footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000000
}

.logofooter{
    width: 30%;
}

.logofooter img{
    width: 100%;
}

.conteudofooter{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contatofooter{

    color: #ffffff;
}

.contatofooter p{
    font-family: 'Roboto', sans-serif;


}

.icones{
    display: flex;
    justify-content: center;
}
.icones a img{
    height: 2rem;
    width: 2rem;
    margin-left: 5px;
}

.textoeicone{
    display: flex;
    align-items: center;
}

.textoeicone img{
    height:2em;
    width:2em;
}

.textoeicone p{
    margin-left: 0.5rem;
}

.textoeicone p a{
    text-decoration: none;
    color: #ffffff;
}

.mapa{
    width: 100%;
    height: 20rem;
}



@media screen and (min-width: 769px) { 
    footer{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .conteudofooter{
        display: flex;
        flex-direction: row;
        height: 100%;
       
    }

    .contatofooter{

        text-align: start;
        margin-right: 2.5rem ;
    }

    .mapa{
        width: 20rem; /*largura */
        height: 18rem; /* Altura */
        
    }

    .textoeicone{
        justify-content: flex-start;
    }

    .icones a img{
        flex-direction: row;
    }
    .icones a img{
        width: 2rem;
        height: 2rem;
    }
}