.logo{
    height: 8rem;
    width: 8rem;
    
}

nav{
    display: flex;
    align-items: center;
    background-color: rgb(255, 168, 168);
    justify-content: space-around;
    justify-content: center;
    flex-direction: column;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: space-around;
    flex-direction: column;
    height: 100px;
}

nav ul li{
    text-align: center;
}

nav ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;    
    /* padding: 20px 20px; */
    border-radius: 100px;
}

/* ul a:hover{
    color: rgb(255, 168, 168);
    background: black;
} */