body{
    margin: 0px;
    padding: 0px;
    font-family: 'Holtwood One SC', serif;
    border: hidden;
    text-decoration: none;
}
.logo{
    height:6em;
    width:6em;
    
}

div a img{
    height:2em;
    width:2em;
}



nav{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(255, 168, 168);
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items:center;
    list-style: none;
    padding: 0;
    width: 100%;
    

}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    font-size: 80%;
    padding: 2px 0;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

.quemsomos{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.quemsomos img{
    width: 30%;
    padding-right: 15px;
}

.quemsomos p{
    color: #FF6060;
    font-size: 175%;
    padding-left: 15px;
}


@media screen and (min-width: 768px) {


    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul{
        flex-direction: row;
        width: 70%;
    }
    .quemsomos img{
        width: 25%;
       
    }

    .quemsomos p{
        font-size: 275%;
    }
}